# Node
node_modules/

# Playwright
test-results/
playwright-report/
playwright/.cache/

# Auth state
auth/storageState.json

# Environment secrets
.env
config/env.dev.json
config/env.uat.json

# Logs
*.log

# OS
.DS_Store
Thumbs.db
